*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}
body{
    font-family: monteserrat; 
}
header {
    padding: 20px;
    background-color: #AAE3E2;
    text-align: center;
    font-size: 40px;
    
font-family: 'Carter One', cursive;

    color: #00425A;
}
nav{
    height: 80px;
    width: 100%;
    background-color: #34495e;
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;

}
nav ul{
    float: right;
    margin-right: 50px;
    
}
nav li{
    display: inline-block;
    margin: 0px 80px ;
    line-height: 80px;

}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    border-radius: 3px;

}
a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 90px;
    line-height: 80px;
    float: right;
    margin-right: 80px;
    cursor: pointer;
    display: none;
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (max-width: 1048px){
label.logo{
    font-size: 32px;
    padding-left: 60px;
}

nav ul{
    margin-right: 80px;

}
nav a{
    font-size: 17px;

}
}
@media (max-width: 909px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2f3640;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav a{
        font-size: 20px;

    }
    a.active,a:hover{
        border: none;
        color: #3498db;


     }
     nav ul.show{
         left: 0;
     }
     section{
        background: url(bg1.jpg) no-repeat;
        background-size: cover;
        height: calc(100vh-80px);
     }
    }
.div-1{
    background-color: #080b0d;
    height: 550px;
    width: 100%;
    margin-top: 50px;
}
.img-1{
    height: 550px;
    width: 70%;
    
}
.div-2{
    border-style: solid;
    height: 550px;
    width: 60%;
    margin-left: 30px;
    margin-top: 50px;
    border-width: 7px;
    border-radius: 5%;
    background-color: #B9F3FC;
    padding: 40px;

}
.div-3{
    border-style: solid;
    height: 550px;
    width: 60%;
    margin-left: 520px;
    margin-top: 50px;
    border-width: 7px;
    border-radius: 5%;
    background-color: #C780FA;
    padding-left: 20px;
}
.div-4{
    border-style: solid;
    height: 550px;
    width: 60%;
    margin-left: 30px;
    margin-top: 50px;
    border-width: 7px;
    border-radius: 5%;
    background-color: #FFD4D4;
    padding-left: 20px;
    
}
.div-5{
    border-style: solid;
    height: 550px;
    width: 60%;
    margin-left: 520px;
    margin-top: 50px;
    border-width: 7px;
    border-radius: 5%;
    background-color: #FADA9D;
    padding-left: 20px;
    margin-bottom: 30px;
}
.logo{
    height: 100px;
    width: 100px;
}
.span-1{
    font-family: 'Kanit', sans-serif;;
    font-size: 60px;
}
.span-2{
    font-size: 35px;
}
.span-3{
    font-size: 30px;
}
.a-1{
    font-size: 30px;
}
.span-4{
    font-family: 'Kanit', sans-serif;;
    font-size: 60px;
}
.span-5{
    font-size: 35px;
}
.span-6{
    font-size: 30px;
}
.a-2{
    font-size: 30px;
}
.span-7{
    font-family: 'Kanit', sans-serif;;
    font-size: 60px;
}
.span-8{
    font-size: 35px;
}
.span-9{
    font-size: 30px;
}
.a-3{
    font-size: 30px;
}
.span-10{
    font-family: 'Kanit', sans-serif;;
    font-size: 60px;
}
.span-11{
    font-size: 35px;
}
.span-12{
    font-size: 30px;
}
.a-4{
    font-size: 30px;
}
.img-2{
    height: 500px;
    width: 440px;
    position: relative;
    left: 950px;
    bottom: 530px;
    border-radius: 15%;
}
.abc{
    height: 0;
    width: 0;
}
.img-3{
    height: 540px;
    width: 440px;
    position: relative;
    left: 980px;
    bottom: 530px;
    border-radius: 15%;
}
.def{
    height: 0;
    width: 0;
}
.img-4{
    height: 510px;
    width: 470px;
    position: relative;
    left: 25px;
    bottom: 530px;
    border-radius: 15%;
}
.ghi{
    height: 0;
    width: 0;
}

.jkl{
    height: 0;
    width: 0;
}

footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
.img-5{
    height: 530px;
    width: 480px;
    position: relative;
    left: 25px;
    bottom: 570px;
    border-radius: 15%;
}
.div-6{
    border-style: solid;
    height: 550px;
    width: 60%;
    margin-left: 30px;
    margin-top: 50px;
    border-width: 7px;
    border-radius: 5%;
    background-color: #EAF6F6;
    padding-left: 20px;
}
.div-7{
    border-style: solid;
    height: 550px;
    width: 60%;
    margin-left: 520px;
    margin-top: 50px;
    border-width: 7px;
    border-radius: 5%;
    background-color: #FFFFD0;
    padding-left: 20px;
}
.div-8{
    border-style: solid;
    height: 550px;
    width: 60%;
    margin-left: 30px;
    margin-top: 50px;
    border-width: 7px;
    border-radius: 5%;
    background-color: #00FFD1;
    padding-left: 20px;
}
.footer-1{
    margin-top: 10px;
}
.href-1{
    position: relative;
    top: 30px;
}
.span-13{
    font-size: 60px;
    font-family: 'Kanit', sans-serif;
}
.span-14{
    font-size: 35px;
}
.span-15{
    font-size: 30px;
}
.span-16{
    font-size: 60px;
    font-family: 'Kanit', sans-serif;
}
.span-17{
    font-size: 35px;
}
.span-18{
    font-size: 30px;
}
.img-1-1{
    height: 400px;
    width: 400px;
    position: relative;
    left: 950px;
    bottom: 470px;
    border-radius: 15%;
}
.innovation-class{
    height: 0;
    width: 0;
}
.img-1-2{
    height: 450px;
    width: 450px;
    position: relative;
    left: 50px;
    bottom: 550px;
    border-radius: 15%;
}
.xyz{
    height: 0;
    width: 0;
}